/* ======================================================================================================================
                                                  BASE GERAL DO SITE
=======================================================================================================================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* ELEMENTOS PRÉ-DEFINIDOS */

.container {
    width: 1140px;
    height: 100px;
    margin:auto;
    display: flex;
}

/* ======================================================================================================================
                                                    HEADER
=======================================================================================================================*/


/* BASE DO HEADER */
header {
    height:100px;
    width: 100%;
    background-color: black;
    display: flex;
}
.container:nth-child(1) {
    justify-content: space-between;
}
/* LOGO DO SITE */
.div_logo {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    height: 70%;
    width: auto;
}
/* MENU */
.itens_menu {
    width: fit-content;
    height: 100%;
    display: flex;
}
.cat_menu {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 0 10px;
    display: flex;
    height: 100px;
    align-items: center;
    border-bottom: 5px solid black;
    font-weight: 700;
}
.cat_menu:hover,
.active {
    border-bottom: 5px solid #b28756;
    color: #ccc;
}
.menu_opener {
    display: none;
}

/* ======================================================================================================================
                                                    BANNER
=======================================================================================================================*/

/* BASE DO BANNER */
.banner {
    width: 100%;
    height: calc(100vh - 100px);
    background-color: rgba(0, 0, 0, 1);
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}
.banner .slides {
    height: 100%;
    width: 500vw;
    display: flex;
}
.banner .slide {
    height: 100%;
    width: 100vw;;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* PRIMEIRO SLIDE */
.slide:first-child .cont_slide {
    text-transform: uppercase;
}
.slide:first-child .cont_slide h1 {
    font-size: clamp(30px, 5vw, 70px);
}

/* ESCRITA */
.banner h1 span:first-child {
    color: #FFF;
    line-height: 0.7;
}
.banner h1 span:nth-child(2) {
    color: #b28756;
}
.banner h1 span {
    display: block;
}
.banner h5 {
    color: #FFF;
    font-size: 22px;
    justify-self: center;
    margin-top: 7px;
}

/* BOTÃO */
.banner button {
    background-color: #b28756;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    text-transform: uppercase;
    color: #FFF;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border: none;
    justify-self: center;
    display: block;
    margin-top: 50px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.banner button:hover {
    background-color: #9b744c;
    color: #ccc;
    transform: scale(1.08);
}
.banner button:active {
    transform: scale(0.96);
}

/* POINTERS */
.pointers_slides {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pointer {
    height: 14px;
    width: 14px;
    border: 2px solid #b28756;
    border-radius: 7px;
    margin: 0 5px;
    cursor: pointer;
}
.pointer.active {
    background-color: #b28756;
}

/* ======================================================================================================================
                                                 1 - ABOUT US
=======================================================================================================================*/


/* BASE */
.default {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
}
.default .title_default {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 32px;
    margin-top: 70px;
}

/* CONTEÚDO */
.default.light .title_default h3 {
    font-size: 28px;
    color: #000;
}
.default.light .title_default h6 {
    font-size: 13px;
    color: #AAA;
}
.default .cont_default {
    max-width: 1140px;
    display: flex;
    flex-direction: row;
}
.default.light .cont_default {
    justify-content: space-between;
    height: 300px;
    margin: 40px 0 80px 0;
}
.default .desc_default {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    height: 100%;
    width: 60%;
    color: #111;
    font-size: 15px;
    font-family: 'Monteserrat', sans-serif;
    line-height: 25px;
    font-weight: 300;
}
.image_default {
    height: 89%;
    width: auto;
    box-shadow: 0px 5px 10px #333;
    cursor: pointer;
}

/* BOTÃO */
.button_default {
    width: 200px;
    height: 48px;
    color: #FFF;
    background-color: #b28756;
    border-radius: 20px;
    border: none;
    transition: all 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 30px;
    cursor: pointer;
}
.button_default:hover {
    background-color: #9b744c;
    color: #CCC;
    transform: scale(1.04);
}
.button_default:active {
    transform: scale(0.98);
}

/* ======================================================================================================================
                                                  2 - SERVICES
=======================================================================================================================*/


/* BASE */
.default.black {
    width: 100vw;
    height: 400px;
    background-color: #000;
}

/* ESCRITA TíTULO */
.default.black .title_default {
    margin: 5px 0 10px 0;
}
.default.black .title_default h3 {
    color: #FFF;
    font-size: 28px;
}
.default.black .title_default h6 {
    color: #AAA;
    font-size: 13px;
}
/* ESCRITA CONTEÚDO */
.default.black .title_default h5 {
    color: #FFF;
    font-size: 15px;
}
.default.black .title_default p {
    color: #AAA;
    font-size: 10px;
    text-transform: none;
    line-height: 18px;
    text-align: center;
}

/* CONTEÚDO */
.default.black .cont_default {
    height: 190px;
    margin-top: 30px;
}
.cont_default .cat_default {
    height: 100%;
    width: 285px;
    border-left: 1px solid #777;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.cont_default .cat_default:last-child {
    border-right: 1px solid #777;
    border-left: none;
}
.cat_default .simb_default {
    height: 50px;
    width: auto;
    margin: 15px auto
}

/* ======================================================================================================================
                                                 3 - PROJECTS
=======================================================================================================================*/

/* BARRA DE OPÇÕES */
.default.light .opc_default {
    display: flex;
    background-color: #EEE;
    border: 1px solid #CCC;
    border-radius: 22px;
    cursor: pointer;
    margin: 40px 0 30px 0;
    overflow: hidden;
    box-sizing: border-box;
}
.opc_default .opc {
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px;
    border-right: 1px solid #CCC;
    display: block;
    box-sizing: border-box;
    border-bottom: 4px solid #EEE;
}
.opc_default .opc:hover {
    background-color: #DDD;
}
.opc_default .opc:first-child {
    padding-left: 40px;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
}
.opc_default .opc:last-child {
    padding-right: 40px;
    border-right: none;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
}
.opc.active {
    border-bottom: 4px solid #b28756;
    color: #000;
}
.opc:hover {
    border-bottom: 4px solid #b28756;
}

/* BOTÃO REDUZIDO */
.default.light .button_default.little {
    width: 160px;
    height: 40px;
    font-size: 10px;
    border-radius: 17px;
    margin-bottom: 50px;
}

/* CONTEÚDO */
.default.light.projects .container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    max-height: 1000px;
    width: auto;
    max-width: 1140px;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    overflow-y: hidden;
}

/* IMAGENS */
.container .div_img_default {
    background-image: url('../../media/foto6.jpg');
    background-size: cover;
    background-position: center;
    height: 175px;
    width: 260px;
    flex-shrink: 0;
}
.div_img_default .image_default {
    background-color: rgba(0, 0, 0, 0.3);
    height: 175px;
    width: 260px;
    box-shadow: none;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div_img_default .image_default:hover {
    background-color: rgba(0, 0, 0, 0.6);
}
.image_default .desc_img {
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 70%;
}

/* TEXTO DAS IMAGENS */
.image_default .desc_img {
    opacity: 0;
    color: #EEE;
}
.image_default:hover .desc_img {
    opacity: 1;
}
.desc_img h4 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 15px;
    text-transform: uppercase;
}
.desc_img p {
    font-size: 13px;
    font-family: 'Monteserrat', sans-serif;
    line-height: 25px;
    font-weight: 300;
    text-align: center;
}

/* ======================================================================================================================
                                                 4 - TEAM
=======================================================================================================================*/

/* FUNDO */
.default.black.team {
    height: auto;
    background-image: url("../images/img_cidade.webp");
}
.default.black.team .escurecer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8 );
}

/* TÍTULO */
.default.black.team .title_default {
    margin: 60px 0 35px 0;
}

/* CONTEÚDO */
.default.black.team .container {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}
.people_default {
    height: 450px;
    width: calc(100% / 3 - 40px);
    background-color: #FFF;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.people_default:last-child {
    margin-right: 0;
}
.default.black.team .pointers_slides {
    position: relative;
    margin: 40px 0 30px 0;
}
.people_default .desc_img {
    line-height: 0px;
}

/* IMAGENS */
.people_default .people_img {
    width: auto;
    height: 180px;
    margin: 0 0 50px 0;
}
.people_default .apps_default {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.apps_default .app_default {
    height: 100%;
    width: 30px;
    border-radius: 20px;
    background-color: #AAA;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    transition: all 0.3s ease;
}
.apps_default .app_default:hover {
    background-color: #b28756;
}
.app_default .app_logo {
    height: 12px;
    width: auto;
}

/* ======================================================================================================================
                                                 5 - CLIENTS
=======================================================================================================================*/

/* BASE */
.default.light.gray {
    background-color: #DDD;
    border: 1px solid #AAA;
    height: auto;
}
.default.light.gray .cont_default {
    flex-direction: column;
    height: auto;
    align-items: center;
}

/* CLIENTE */
.people_img {
    width: 170px;
    height: 170px;
}
.name_people {
    font-size: 20px;
    margin: 20px 0 8px 0;
}
.function_people {
    font-size: 14px;
    color: #111;
    margin-bottom: 30px;
}
.default.light.gray p {
    font-size: 12px;
    text-align: center;
    color: #777;
    margin-top: 20px;
}

/* POINTER */
.default.light.gray .pointers_slides {
    position: relative;
    margin-bottom: 40px;
}

/* ======================================================================================================================
                                                 5 - EMPRESAS
=======================================================================================================================*/

/* BASE */
.default_empresas {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LOGOS */
.default_empresas .container {
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: auto;
    max-width: 1140px;
}
.default_empresas .container div {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.container .logo_empresa {
    max-height: 45px;
    width: auto;
}

/* ======================================================================================================================
                                                 6 - PRICE
=======================================================================================================================*/

/* BASE */
.default.light.gray .container {
    height: auto;
    align-items: center ;
    justify-content: center;
}

/* CONTEÚDO */
.container .assinaturas {
    height: auto; 
    width: calc(100% / 4 - 24px);
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 20px 60px 20px;
}

/* CABEÇALHO ASSINATURAS */
.assinaturas .plano {
    text-transform: uppercase;
    color: #111;
    font-size: 13px;
    padding: 40px 0 11px 0;
}
.assinaturas .valor {
    font-size: 33px;
}
.assinaturas .periodo {
    text-transform: uppercase;
    color: #AAA;
    font-size: 10px;
}

/* DESCRIÇÃO ASSINATURAS */
.cont_plano {
    height: 200px;
    width: 150px;
    margin-top: 20px;
    position: relative;
}
.cont_plano p {
    padding: 5px 0;
    line-height: 8px;
}
.cont_plano hr {
    width: 10px;
    height: 1px;
    border-top: 1px solid #777;
    position: absolute;
    left: 47%;
    transform: translateY(-47%);
    margin-top: 10px;
}

/* BOTÃO    */
.default.light.gray .assinaturas .button_default {
    height: 45px;
    width: 125px;
    border-radius: 20px;
    margin: 10px 0 25px 0;
    background-color: #333;
}
.default.light.gray .assinaturas .button_default:hover {
    background-color: #b28756;
    transform: scale(1.02);
}
.default.light.gray .assinaturas .button_default:active {
    transform: scale(0.98);
}

/* ======================================================================================================================
                                                 7 - PREMIUM
=======================================================================================================================*/


/* BASE */
.default.light.box {
    height: auto;
}
.default.light.box .container {
    height: 410px;
    justify-content: center;
    border-bottom: solid 1px #CCC;
    margin-bottom: 40px;
}

/* POINTER */
.default.light.box .pointers_slides, .pointer {
    position: relative;
    margin-top: 0;
}

/* IMAGEM DA CAIXA */
.image_box {
    width: 40%;
    height: 100%;
    display: flex;
}
.box {
    height: 330px;
    width: auto;
    align-self: center;
    justify-self: center;
    margin-left: 40px;
}

/* DIVS DE CONTEÙDO */
.cont_box {
    width: auto;
    height: 100%;
    padding: 0 100px;
}
.cont_box .line {
    display: flex;
    margin-top: 20px;
}
.cont_box .desc {
    padding-left: 25px;
}

/* IMAGEM CHECK */
.cont_box img {
    height: 30px;
    width: auto;
}

/* CONTEÚDO (ESCRITAS) */
.cont_box h3 {
    text-transform: uppercase;
    font-size: 18px;
    padding: 5px 0;
}
.cont_box p {
    line-height: 23px;
    color: #999;
}

.cont_box p:nth-child(3) {
    padding-top: 8px;
}

/* BOTÃO */
.default.light.box .button_default {
    height: 42px;
    margin-bottom: 60px;
}

/* ======================================================================================================================
                                                 8 - SOME FACTS
=======================================================================================================================*/

/* CONTEÚDO */
.default.black.facts {
    height: auto;
}
.default.black.facts .cont_default {
    margin-bottom: 25px;
}
.default.black.facts .cat_default {
    border: none;
}
/* ESCRITA */
.default.black.facts .title_default.principal {
    margin: 60px 0 -25px 0;
}
.cat_default h1 {
    color: #b28756;
    font-size: 40px;
}
/* LINHA DIVISÓRIA */
.cat_default hr {
    border-bottom: 2px solid #777;
    height: 2px;
    width: 15px;
    margin-bottom: -8px;
    margin-top: 2px;
}

/* ======================================================================================================================
                                                 9 - SHARE
=======================================================================================================================*/

.share {
    width: 100vw;
    height: auto;
    border-bottom: 1px solid #CCC;
}
.cont_share {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px 0;
    flex-wrap: wrap;
}
.cat_share {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.cat_share div {
    height: 35px;
    width: 35px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cat_share:nth-child(1) img {
    height: 30px;
}
.cat_share:nth-child(2) div {
    background-color: #1DA1F2;
}
.cat_share:nth-child(3) div {
    background-color: #0077B5;
}
.cat_share:nth-child(4) div {
    background-color: #3B5998;
}
.cat_share:nth-child(5) div {
    background-color: #DB4437;
}
.cat_share:nth-child(6) div {
    background-color: #BD081C;
}
.cat_share img {
    width: auto;
    height: 14px;
}
.cat_share p {
    color: #AAA;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 30px;
}
.cat_share:nth-child(1) p {
    font-size: 14px;
}

/* ======================================================================================================================
                                                 10 - CONTACT
=======================================================================================================================*/

.default.light.gray.contact {
    background-color: #F0F0F0;
    border: 1px solid #DDD;
}
.default.light.gray.contact button {
    height: 40px;
    width: 170px;
    border-radius: 18px;
    margin-bottom: 65px;
    margin-top: 50px;
}
.default_form {
    display: flex;
    flex-direction: column;
    width: 500px;
}
input {
    background: none;
    border: none;
    border-bottom: 2px solid #AAA;
    outline: none;
    height: 30px;
    padding: 20px 0;
    margin-top: 30px;
    color: #888;
    font-size: 13px;
    cursor: pointer;
}
input::placeholder {
    text-transform: uppercase;
    color: #AAA;
    font-size: 12px;
}
@media (min-width: 800px) {
    .first_line_form input {
        width: 47.1%;
        margin-top: 50px;
    }
    .first_line_form input:first-child {
        margin-right: 25px;
    }
}

/* ======================================================================================================================
                                                 11 - MAP
=======================================================================================================================*/

.map {
    background-image: url(../../media/mapa.png);
    background-size: cover;
    height: auto;
    width: 100%;
}
.map .escurecer {
    background-color: rgba(0, 0, 0, 0.2);
}
.map .container {
    height: auto;
}
.cont_map {
    height: auto;
    width: 520px;
    margin: 40px 0;
    background-color: #FFF;
    padding: 50px 0 30px 45px;
    border-radius: 3px;
}
.line {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}
.cont_map .line div {
    height: 35px;
    width: 35px;
    border-radius: 20px;
    background-color: #999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont_map div img {
    width: auto;
    height: 15px;
}
.cont_map .line:first-child img {
    height: 10px;
    width: auto;
}
.line p {
    color: #555;
    margin-left: 12px;
}
.local_map {
    width: auto;
    height: 60px;
    padding-right: 30px;
    cursor: pointer;
    align-self: center;
}
.map .escurecer .container {
    align-items: center;
}

/* ======================================================================================================================
                                                 12 - FOOTER
=======================================================================================================================*/

footer {
    width: 100%;
    height: auto;
    background-color: #000;
    padding: 30px 0;
}
footer .container {
    height: auto;
}
.icons {
    display: flex;
}
.icons div {
    width: 32px;
    height: 32px;
    border-radius: 20px;
    background-color: #444;
    transition: all ease 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
}
.icons div:hover {
    background-color: #b28756;
}
.icons div img {
    height: 13px;
    width: auto;
}
.text {
    width: 400px;
    margin: 0 30px;
}
.text p {
    font-size: 12px;
    color: #777;
    font-weight: 600;
    line-height: 20px;
}
.subscribe {
    height: 180px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #444;
    border-radius: 3px;
}
.subscribe .button_default {
    width: 170px;
    height: 40px;
    font-size: 10px;
    border-radius: 15px;
    margin-top: 20px;
}
.subscribe input {
    padding: 0;
    margin: 0;
}
.subscribe input::placeholder {
    text-align: center;
}

/* ======================================================================================================================
                                                 13 - RESPONSIVIDADE
=======================================================================================================================*/

@media (max-width: 800px) {

/* MENU */
    .itens_menu {
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        flex-direction: column;
        right: 0;
        top: 100px;
        width: 70vw;
        height: calc(100vh - 100px);
        opacity: 0;
    /* Transição do menu */
        transform: translateX(30px); 
        pointer-events: none;
        transition: all 0.3s ease;
        display: flex;
    }
    .itens_menu.ativo {
        opacity: 1;
        transform: translateX(0);
        pointer-events: auto;
    }
    .itens_menu a {
        font-weight: bold;
        height: 50px;
        font-size: 16px;
        border: none;
        margin-left: 30px;
    }
    .itens_menu a:first-child {
        margin-top: 20px;
    }
    .cat_menu:hover,
    .active {
        border: none;
        color: #b28756;
    }
    .menu_opener {
        display: block;
        width: auto;
        height: 35px;
        align-self: center;
        margin-right: 30px;
        cursor: pointer;
    }
/* ABOUT US */
    .default.light {
        padding: 0 30px;
    }
    .default.default.light .cont_default {
        flex-direction: column;
        justify-content: center;
        height: auto;
    }
    .default .desc_default {
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        align-self: center;
    }
    .desc_default p {
        text-align: center;
    }
    .desc_default .button_default {
        margin-bottom: 30px;
    }
    .image_default {
        height:  auto;
        width: 100%;
    }
/* SERVICES */
    .default.black {
        height: auto;
    }
    .default.black .title_default {
        margin-top: 60px;
    }
    .default.black .cont_default {
        flex-wrap: wrap;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }
    .default.black .cont_default .cat_default {
        padding-bottom: 30px;
        height: 80%;
        border: none;
    }
    .cat_default .simb_default {
        margin-bottom: -30px;
    }
/* PROJECTS */
    .default.light .opc_default {
        flex-wrap: wrap;
        justify-content: center;
    }
    .opc_default .opc {
        flex-wrap: wrap;
        align-self: center;
        justify-self: center;
    }
    .default.light .container {
        flex-wrap: wrap;
    }
/* EMPRESAS */
    .default_empresas .container {
        flex-wrap: wrap;
        padding: 0 20px;
        max-width: 1140px;
    }
    .default_empresas .container div {
        margin: 0;
    }
    .default_empresas .container div .logo_empresa {
        height: 35px;
    }
    .default_empresas {
        overflow-x: none;
    }
/* PRICE */
    .default.light.gray .container {
        flex-wrap: wrap;
        width: 100%;
    }
    .container .assinaturas {
        width: 250px;
        margin-bottom: 30px;
    }
    .container .assinaturas:last-child {
        margin-bottom: 60px;
    }
    .cont_plano {
        display: none;
    }
    .default.light.gray .assinaturas .button_default {
        margin: 30px 0;
    }
/* PREMIUM */
    .default.light.box .container {
        flex-wrap: nowrap;
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .box {
        height: 200px;
        margin: 40px 0 0 0;
    }
    .image_box {
        width: 30vw;
    }
    .cont_box {
        width: 70vw;
        padding: 20px 0;
        margin-bottom: 50px;
    }
    .cont_box .desc {
        padding: 0;
    }
    .cont_box h3 {
        margin-left: 13px;
    }
/* SOME FACTS */
    .cat_default hr {
        margin-bottom: -50px;
    }
    .default.black.facts .cont_default {
        margin-top: 80px;
    }
/* SHARE */
    .cont_share {
        display: flex;
    }
    .cat_share {
        align-self: center;
        justify-self: center;
        width: 150px;
    }
    .cat_share:nth-child(1) p {
        display: none;
    }
    .cat_share:nth-child(1) img {
        margin-left: -40px;
    }
/* CONTACT US */
    .default.light.gray.contact .title_default h6 {
        flex-wrap: wrap;
        text-align: center;
        line-height: 22px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .default_form {
        width: 80vw;
    }
    .first_line_form input {
        width: 100%;
    }
/* MAP */
    .cont_map {
        width: auto;
        padding: 30px;
        margin-left: 30px;
    }
    .map .container {
        width: 100vw;
    }
/* FOOTER */
    footer .container {
        flex-direction: column;
        width: 80vw;
        align-items: center;
    }
    .icons {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .text {
        text-align: center;
        margin: 30px 0;
        width: 80vw;
    }
    .text p {
        flex-wrap: wrap;
    }
    .subscribe {
        width: 80vw;
    }
}

/* ALINHAMENTO DO DEFAULT EMPRESAS QUE FOGE DO WRAP */
@media (min-width: 440px) and (max-width: 640px) {
    .default_empresas .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 itens por linha */
        gap: 20px;
    }
}

@media (max-width: 450px) {
    .slide:first-child .cont_slide h1 {
        font-size: clamp(28px, 8vw, 60px);
        text-align: center;
    }
    .banner h5 {
        font-size: clamp(17px, 5vw, 25px);
    }
    .opc_default .opc {
        padding: 15px 9px;
        border-left: none;
        border-right: none;
    }
    .opc_default .opc:first-child {
        padding-left: 9px;
    }
    .opc_default .opc:last-child {
        padding-right: 9px;
    }
    .cat_share:nth-child(1) p {
        font-size: 8px;
    }
    .icons div {
        flex: 0 0 calc(100% / 5);
        margin-bottom: 10px;
    }
}

@media (max-width: 600px) {
    .cont_map .line p {
        font-size: 10px;
        flex-wrap: wrap;
        display: none;
    }
    .cont_map {
        margin-left: 40px;
    }
    .map .container {
        flex-direction: row ;
    }
    .local_map {
        padding: 0 70px;
    }
}